* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/24292149.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 55%;
}

.style {
  margin: auto;
  width: 400px;
  padding: 20px;
  background-color: rgb(69, 68, 68);
  font-family: Geneva, Tahoma, sans-serif;
  border-radius: 5px;
}

button {
  background: #333;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

input {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 30px;
}

#bundeslandInfoErgebnis {
  font-size: 30px;
}
